<header>
  <div class="container header-top">
    <div>
      <a href="../index.html">
        <img
          src="../global_asset/images/vsa-logo.png"
          alt="Header Logo"
          width="60"
          height="60"
        >
      </a>
    </div>

    <div class="search-bar">
      <input type="search" id="search-input" placeholder="Search by Keyword...">
      <button>
        <i class="ri-search-line"></i>
      </button>
      <div class="search-results" id="search-results"></div>
    </div>

    <div class="social-media-icons">
      <a href="https://www.instagram.com/unccvsa" class="icon-link">
        <i class="ri-instagram-line"></i>
        <span>Instagram</span>
      </a>
      <a href="https://www.tiktok.com/@uncc_vsa?lang=en" class="icon-link">
        <i class="ri-tiktok-line"></i>
        <span>TikTok</span>
      </a>
      <a href="https://www.youtube.com/@unccvsa" class="icon-link">
        <i class="ri-youtube-line"></i>
        <span>YouTube</span>
      </a>
    </div>
  </div>

  <nav class="header-nav">
    <div class="container">
      <div class="hamburger-menu">
        <i class="ri-menu-line"></i>
      </div>

      <ul class="header-links" id="header-links">
        <li><a href="../vsa_page/index.html">VSA</a></li>

        <li class="dropdown-parent">
          <a href="../gallery_page/index.html">GALLERY</a>
          <ul class="dropdown-menu">
            <li><a href="../gallery_page/2025_2026/index.html">2025 - 2026</a></li>
            <li><a href="../gallery_page/2024_2025/index.html">2024 - 2025</a></li>
            <li><a href="../gallery_page/2023_2024/index.html">2023 - 2024</a></li>
          </ul>
        </li>

        <li><a href="../eboard_page/index.html">EBOARD</a></li>
        <li><a href="../sponsor_page/index.html">SPONSOR</a></li>
        <li><a href="../member_page/index.html">MEMBER</a></li>
      </ul>
    </div>
  </nav>
</header>