{% extends "app/base.html" %}
{% load static %}
       
{% block eboard-content %}
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body text-center">
          <!-- Insert the large image src dynamically -->
          <img id="modalImage" src="#" class="img-fluid" alt="Fullsize" style="max-width: 90vw; max-height: 80vh;" />
        </div>
      </div>
    </div>
</div>

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/dylanng.jpg' %}"
            alt="Dylan Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>PRESIDENT</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/dylan2nguyen_/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Dylan Nguyen</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/dylantr.jpg' %}"
            alt="Dylan Truong"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERNAL VICE PRESIDENT</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/dylan.t.920/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Dylan Truong</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/anh.jpg' %}"
            alt="Anh Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>EXTERNAL VICE PRESIDENT</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/maaanh.i/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Anh Nguyen</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/jon.jpg' %}"
            alt="Jon Sanchez"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>SECRETARY</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/jo.saan/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Jon Sanchez</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/steven.jpg' %}"
            alt="Steven Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>TREASURER</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/steven_lang17/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Steven Lang</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/jae.jpg' %}"
            alt="Jae Luanglath"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>MEDIA DIRECTOR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/jadenluaa/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Jaden Luanglath</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/angelica.jpg' %}"
            alt="Angelica Calumba"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-MARKETING DIRECTOR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/angelica.calumba126/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Angelica Calumba</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/kayla.jpg' %}"
            alt="Kayla Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-MARKETING DIRECTOR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/nguyen._.kay/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Kayla Nguyen</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/daisy.jpg' %}"
            alt="Daisy Ho"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-DESIGN CHAIR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/daisyy_.h/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Daisy Ho</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/hy.jpg' %}"
            alt="Hy Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-DESIGN CHAIR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/hyhy.exe/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Hy Nguyen</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/celina.jpg' %}"
            alt="Celina Truong"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-CULTURE CHAIR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/celinatruongg/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Celina Truong</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/eugene.jpg' %}"
            alt="Eugene Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>CO-CULTURE CHAIR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/tapeuge/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Eugene Nguyen</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/minh.jpeg' %}"
            alt="Minh Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>COMMUNITY OUTREACH CHAIR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/minsebong/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Minh Nguyen</strong></h4>
        </div>
    </div>
    
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/long.jpeg' %}"
            alt="Long Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>EVENT COORDINATOR</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/lvn_9974/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Long Nguyen</strong></h4>
        </div>
    </div>
</div>

<!-- <br /><br /><br /><br /> -->

<script>
    function openImageModal(imgElement) {
      // Grab the 'src' from the clicked thumbnail
      const thumbnailSrc = imgElement.src;
  
      // Find the large <img> in the modal
      const modalImage = document.getElementById('modalImage');
  
      // Update the modal's image source
      modalImage.src = thumbnailSrc;
  
      // (Optional) Update title or alt text
      document.getElementById('modalImageTitle').innerText = imgElement.alt || 'Photo';
    }
</script>

{% endblock eboard-content %}