{% extends "app/base.html" %}
{% load static %}
       
{% block main-content %}
<div class="row" style="width:100%">
  <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'app/images/vsa-logo.png' %}">
    <div class="box-element product">
      <h6><strong>Vietnamese Student Association</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn">Events</button>
      <a class="btn btn-outline-success" href="#">Discover</a>
      <h4 style="display: inline-block; float: right"><strong>VSA</strong></h4>
    </div>
  </div>

  <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'app/images/seasa-logo.png' %}">
    <div class="box-element product">
      <h6><strong>Southeast Student Association</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn">Events</button>
      <a class="btn btn-outline-success" href="#">Discover</a>
      <h4 style="display: inline-block; float: right"><strong>SEASA</strong></h4>
    </div>
  </div>

  <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'app/images/fasu-logo.png' %}">
    <div class="box-element product">
      <h6><strong>Filipino-American Student Union</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn">Events</button>
      <a class="btn btn-outline-success" href="#">Discover</a>
      <h4 style="display: inline-block; float: right"><strong>FASU</strong></h4>
    </div>
  </div>
</div>

<br />

<div class="row" style="width:100%">
  <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'app/images/kasa-logo.png' %}">
    <div class="box-element product">
      <h6><strong>Korean American Student Association</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn">Events</button>
      <a class="btn btn-outline-success" href="#">Discover</a>
      <h4 style="display: inline-block; float: right"><strong>KASA</strong></h4>
    </div>
  </div>

  <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'app/images/hsa-logo.png' %}">
    <div class="box-element product">
      <h6><strong>Hmong Student Association</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn">Events</button>
      <a class="btn btn-outline-success" href="#">Discover</a>
      <h4 style="display: inline-block; float: right"><strong>HSA</strong></h4>
    </div>
  </div>
</div>

<br />

<div class="row" style="width:100%">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.ImageURL}}">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>
      <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
      <a class="btn btn-outline-success" href="#">Detail</a>
      <h4 style="display: inline-block; float: right"><strong>${{product.price | floatformat:0}}</strong></h4>
    </div>
  </div>
  {% endfor %}
</div>

<br /><br /><br /><br />
{% endblock main-content %}