{% extends "app/base.html" %}
{% load static %}
       
{% block intern-content %}
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body text-center">
          <!-- Insert the large image src dynamically -->
          <img id="modalImage" src="#" class="img-fluid" alt="Fullsize" style="max-width: 90vw; max-height: 80vh;" />
        </div>
      </div>
    </div>
</div>

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/adrian.png' %}"
            alt="Adrian Dao"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/adriandao26/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Adrian Dao</strong></h4>
        </div>
    </div>
    
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/angela.png' %}"
            alt="Angela Tran"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/aangelatrann/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Angela Tran</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/christina.png' %}"
            alt="Christina Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/chrstina06/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Christina Nguyen</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/cynthia.png' %}"
            alt="Cynthia Ngo"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/cyn.0111/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Cynthia Ngo</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/daniel.png' %}"
            alt="Daniel Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/daniel._nguyenn/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Daniel Nguyen</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/katie.png' %}"
            alt="Katie Huynh"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/_katiehuynh_/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Katie Huynh</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/kevin.png' %}"
            alt="Kevin Le"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/kevnnle/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Kevin Le</strong></h4>
        </div>
    </div>
    
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/khang.png' %}"
            alt="Khang Pham"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/khanger.oo/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Khang Pham</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/lee.png' %}"
            alt="Lee Luu"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/eeeluuul/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Lee Luu</strong></h4>
        </div>
    </div>
</div>

<br />

<div class="row" style="width:100%">
    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/nathan.png' %}"
            alt="Nathan Do"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/nathan_do__/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Nathan Do</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img 
            class="thumbnail" 
            src="{% static 'app/images/eboard/nhi.png' %}"
            alt="Nhi Nguyen"
            style="cursor:pointer; max-width:100%;"

            data-bs-toggle="modal"
            data-bs-target="#imageModal"

            onclick="openImageModal(this)"
        >
        <div class="box-element">
            <h6><strong>INTERN</strong></h6>
            <hr>
            <!-- <button class="btn btn-outline-secondary add-btn">Event</button> -->
            <a class="btn btn-outline-success" href="https://www.instagram.com/nhi.nguyen.15/">Connect</a>
            <h4 style="display: inline-block; float: right"><strong>Nhi Nguyen</strong></h4>
        </div>
    </div>

</div>

<!-- <br /><br /><br /><br /> -->

<script>
    function openImageModal(imgElement) {
      // Grab the 'src' from the clicked thumbnail
      const thumbnailSrc = imgElement.src;
  
      // Find the large <img> in the modal
      const modalImage = document.getElementById('modalImage');
  
      // Update the modal's image source
      modalImage.src = thumbnailSrc;
  
      // (Optional) Update title or alt text
      document.getElementById('modalImageTitle').innerText = imgElement.alt || 'Photo';
    }
</script>

{% endblock intern-content %}