/* Default Light Mode */
body {
	background-color: #ffffff;
	color: #000000;
}
  
/* Dark Mode Styles */
body.dark-mode {
	background-color: #121212 !important;
	color: #ffffff !important;
}
  
/* Navbar, Footer, and Other Elements in Dark Mode */
body.dark-mode .navbar, body.dark-mode footer {
	background-color: #1a1a1a !important;
	color: #ffffff !important;
}
  
body.dark-mode a {
	color: #d1d1d1 !important; /* Light gray links */
}
  
body.dark-mode a:hover {
	color: #ffffff !important;
}
  
/* Dark mode for buttons */
body.dark-mode .btn-outline-success {
	border-color: #ffffff;
	color: #ffffff;
}
  
body.dark-mode .btn-outline-success:hover {
	background-color: #ffffff;
	color: #000000;
}

.bg-dark{
	background-color: #4f868c!important;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

h5, h6 {
	margin-top: 10px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
}

.thumbnail{
	margin: 0 auto;
	display: block;
	width: 350px;
	height:350px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.col-lg-4 h5, .col-lg-4 h6 {
	text-align: center;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.hidden{
	display: none !important;
}